# So I get privileges
PUID=1000
PGID=1000

# Postgres credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password-goes-here
POSTGRES_DB=db-name # Optional: Creates this default database during the first container initialization. If omitted, it defaults to the POSTGRES_USER value.
