# So I get privileges
PUID=1000
PGID=1000

# Postgres credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password-goes-here
PGDATABASE=db-name #This is useful so you can create the database before doing your connention, if no databases are made when connecting postgres creates one for you, which is not ideal
